<footer>
    <div class="footer">
        <div class="footer-col1">
            <div class="footer-description">
                <h1>Organic Farm</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam laudantium quo sit quisquam repudiandae, pariatur magnam amet neque vitae est officia.
                </p>
            </div>
            <div class="footer-socials">

            </div>
        </div>
        <div class="footer-col2">
            <h1>Links</h1>
        </div>

        <div class="footer-col3">
            <h1>Contact</h1>
        </div>

        <div class="footer-col4">
            <h1>Newsletter</h1>
        </div>
    </div>

    <div class="foot">
        <p>&copy;2024 <a href="#">paulmagadi</a>. All rights reserved</p>
        <p><a href="#">Terms and services</a></p>
        <p><a href="#">Privacy Policy</a></p>
    </div>
</footer>